# Byte-compiled
__pycache__/


# Data
*/status.db
.DS_Store
venv/
archives/src/.ipynb_checkpoints/archive_query-checkpoint.ipynb
*.csv
*.xml
jupyter_notebooks/.ipynb_checkpoints/archive_query-checkpoint.ipynb
